---
import { basics } from "@resume";

const { summary } = basics;

const paragraphs = summary.split("\n");
---

<section>
  <h2 class="text-3xl font-bold">Acerca de mí</h2>
  {paragraphs.map((paragraph) => <p class="font-mono">{paragraph}</p>)}
</section>
