---
import { basics } from "@resume";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { image, name } = basics;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content=`Currículum imprimible de ${name}` />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={image} />
  </head>
  <body>
    <slot />
  </body>
</html>
