---
import { basics } from "@resume";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { image, name } = basics;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content=`Currículum imprimible de ${name}` />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={image} />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 25, 25, 25;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  a.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25%;
    background-color: rgba(var(--accent), 0.1);
    color: rgb(var(--accent));
    text-decoration: none;
    transition:
      background-color 0.2s,
      color 0.2s;
  }

  .print {
    display: none;
  }

  .no-print {
    display: block;
  }

  @media print {
    .print {
      display: block !important;
    }

    .no-print {
      display: none !important;
    }
  }
</style>
